{% set rel_prefix="../" %}{% set bodyFullWidth = True %}{% extends "base.html" %} {% block title %}External content{% endblock title%}
{% block specific_head %}
<link type="text/css" href="{{rel_prefix}}assets/Wiki-topic-r_spN9srKqcGQAC8emdeTA.css" rel="stylesheet" as="style">
<link type="text/css" href="{{rel_prefix}}assets/Wiki-common-Zf5O-KLmFhhZ0w9cRZYZoQ.css" rel="stylesheet" as="style">
{% endblock specific_head%} {% block content %}

<div id="page">
   <div id="main">
      <div id="mainBody">
         <!-- MAIN BODY -->

         <div id="contentFloat">
            <div id="content">
               <div class="container articleContainer wiki">

                  <h1 class="pageTitle wikiTitle originalText bordered">
                     External content - be carefull </h1>

                  <p class="summary originalText">This link is targeting an EXTERNAL content, not available for offline browsing
                  </p>

                  <div id="Wiki_Details">
                     <div id="wikiRenderedText" class="wikiRenderedText renderedText originalText">
                        <p>If you want/can, you might go there by clicking on the following link:
                        <a id="external_link"></a></p>
                  </div>

                  <div class="clearer"></div>

               </div>
            </div>
         </div>
         <div class="clearer"></div>
         <script type="text/javascript" src="{{rel_prefix}}assets/external_content.js"></script>

      </div> <!-- /mainBody -->

      <div class="clearer"></div>
   </div> <!-- /main -->
</div> <!-- /page -->
{% endblock content%}