{% extends "base.html" %}

{% block title %}Des tutoriels pour tout réparer - iFixit{% endblock title%}

{% block specific_head %}
<link type="text/css" href="../../assets/Shared-i18n_formatting-7XRaMqur0Z-hJvP-W8sS2A.css" rel="stylesheet" as="style">
<link type="text/css" href="../../assets/area_index-BDTBciD-Y7NVVjoPQBUyhA.css" rel="stylesheet" as="style">
{% endblock specific_head%}

{% block content %}

<div id="page" class="hide-until-css-loaded ">
    <div id="main">
       <div id="mainBody">
          <!-- MAIN BODY -->
          
          <div id="contentFloat">
             <div id="content">

                <div class="page-title-container">
                   <h1 class="page-title">
                      <span class="page-title-text">Tutoriels de réparation</span>
                   </h1>
                   <div class="clearer"></div>
                </div>

                <div class="page-callout hidden-mobile-tablet">
                   <div class="page-callout-inner">
                      <img src="../../assets/home/firsttimerepairing_banner-2.jpg" role="presentation" width="998"
                         height="211">
                      <div class="page-callout-content">
                         <h2>Toute première réparation ?</h2>
                         <p>Apprenez à réparer quasiment tout.</p>
                         <p><strong>Avec nous, c'est facile.</strong></p>
                      </div>
                   </div>
                </div>

                <div class="page-content">
                   <div class="section-divider primary-divider">
                      <p>Que voulez-vous réparer ?</p>
                   </div>

                   <div class="featured-categories">
                      <a class="featured-category-item" href="../../categories/en/category_Mac.html"
                         title="Tutoriels de réparation et de démontage pour les ordinateurs Macintosh d'Apple">
                         <div class="shadow-overlay"></div>
                         <p class="featured-category-title">Mac</p>
                         <img src="../../assets/home/macbook-pro.jpg" role="presentation" width="280" height="210">
                      </a>
                      <a class="featured-category-item" href="../../categories/en/category_Tablet.html"
                         title="Réparations pour la plupart des tablettes. En raison de leur petite taille et de l'utilisation fréquente d'adhésif, la réparation des tablettes est souvent plus compliquée que la réparation d'un ordinateur portable.">
                         <div class="shadow-overlay"></div>
                         <p class="featured-category-title">Tablette</p>
                         <img src="../../assets/home/RacpAWWRuobmX5g4.jpg" role="presentation" width="280" height="210">
                      </a>
                      <a class="featured-category-item" href="../../categories/en/category_Phone.html"
                         title="Tutoriels pour réparer et démonter les téléphones de tous les fabricants et fournisseurs de services, y compris iPhone et Samsung Galaxy. Trouvez tout ce qu'il vous faut pour réparer votre téléphone vous-même.">
                         <div class="shadow-overlay"></div>
                         <p class="featured-category-title">Téléphone</p>
                         <img src="../../assets/home/H4M1JEQiZabe4Vo2.jpg" role="presentation" width="280" height="210">
                      </a>
                      <a class="featured-category-item" href="../../categories/en/category_Car_and_Truck.html"
                         title="Manuels de réparation et de maintenance pour les véhicules à 4 roues de tourisme et de marchandises.">
                         <div class="shadow-overlay"></div>
                         <p class="featured-category-title">Voiture et Camion</p>
                         <img src="../../assets/home/JxaijlWopNJnHo2S.jpg" role="presentation" width="280" height="210">
                      </a>
                      <a class="featured-category-item" href="../../categories/en/category_PC_Desktop.html"
                         title="Ces ordinateurs ne disposent généralement pas d'écran intégré et sont faits pour être stationnaires.">
                         <div class="shadow-overlay"></div>
                         <p class="featured-category-title">Ordinateur de bureau</p>
                         <img src="../../assets/home/P1WJqUOlaXZYNVSD.jpg" role="presentation" width="280" height="210">
                      </a>
                      <a class="featured-category-item" href="../../categories/en/category_Game_Console.html"
                         title="Tutoriels complets de démontage et de réparation pour la plupart des consoles de jeux fabriquées depuis 1986.">
                         <div class="shadow-overlay"></div>
                         <p class="featured-category-title">Console de jeux</p>
                         <img src="../../assets/home/hKrLIluHRDXxUAit.jpg" role="presentation" width="280" height="210">
                      </a>
                      <a class="featured-category-item" href="../../categories/en/category_PC_Laptop.html"
                         title="Tutoriels de réparation et information de démontage pour de nombreuses marques de PC portables.">
                         <div class="shadow-overlay"></div>
                         <p class="featured-category-title">Ordinateur portable</p>
                         <img src="../../assets/home/IlacTC2EdoTKtKdC.jpg" role="presentation" width="280" height="210">
                      </a>
                      <a class="featured-category-item" href="../../categories/en/category_Camera.html"
                         title="Tutoriels de démontage et de réparation pour une large variété d'appareils photo.">
                         <div class="shadow-overlay"></div>
                         <p class="featured-category-title">Appareil photo</p>
                         <img src="../../assets/home/AdQTqqV252aRMVdf.jpg" role="presentation" width="280" height="210">
                      </a>
                   </div>

                   <div class="section-divider secondary-divider">
                      <p>Et des milliers d'autres tutoriels étape par étape</p>
                   </div>
                   <div class="sub-categories">
                      <a class="sub-category" href="../../categories/en/category_Apparel.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in"
                               title="Nombre de sous-catégories Vêtements et accessoires"><i
                                  class="fa fa-list-ul "></i> 513</span>
                            <span class="sub-category-title-text">Vêtements</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Appliance.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in" title="Nombre de sous-catégories Électroménager"><i
                                  class="fa fa-list-ul "></i> 1323</span>
                            <span class="sub-category-title-text">Électroménager</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Camera.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in"
                               title="Nombre de sous-catégories Réparation appareils photo"><i
                                  class="fa fa-list-ul "></i> 1261</span>
                            <span class="sub-category-title-text">Appareil photo</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Car_and_Truck.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in"
                               title="Nombre de sous-catégories Réparation voiture et camion"><i
                                  class="fa fa-list-ul "></i> 1121</span>
                            <span class="sub-category-title-text">Voiture et Camion</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Computer_Hardware.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in"
                               title="Nombre de sous-catégories Réparation matériel informatique"><i
                                  class="fa fa-list-ul "></i> 749</span>
                            <span class="sub-category-title-text">Matériel informatique</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Electronics.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in"
                               title="Nombre de sous-catégories Appareil électronique"><i
                                  class="fa fa-list-ul "></i> 1738</span>
                            <span class="sub-category-title-text">Électronique</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Game_Console.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in"
                               title="Nombre de sous-catégories Réparation&nbsp;console de jeux"><i
                                  class="fa fa-list-ul "></i> 522</span>
                            <span class="sub-category-title-text">Console de jeux</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Household.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in" title="Nombre de sous-catégories Maison"><i
                                  class="fa fa-list-ul "></i> 1517</span>
                            <span class="sub-category-title-text">Maison</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_iPod.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in" title="Nombre de sous-catégories iPod"><i
                                  class="fa fa-list-ul "></i> 113</span>
                            <span class="sub-category-title-text">iPod</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Mac.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in" title="Nombre de sous-catégories Réparation Mac"><i
                                  class="fa fa-list-ul "></i> 1270</span>
                            <span class="sub-category-title-text">Mac</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Medical_Device.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in"
                               title="Nombre de sous-catégories Réparation dispositif médical"><i
                                  class="fa fa-list-ul "></i> 4958</span>
                            <span class="sub-category-title-text">Medical Device</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_PC.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in" title="Nombre de sous-catégories Réparation de PC"><i
                                  class="fa fa-list-ul "></i> 4841</span>
                            <span class="sub-category-title-text">Ordinateur</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Phone.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in"
                               title="Nombre de sous-catégories Réparation téléphone"><i
                                  class="fa fa-list-ul "></i> 3246</span>
                            <span class="sub-category-title-text">Téléphone</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Skills.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in" title="Nombre de sous-catégories Compétences"><i
                                  class="fa fa-list-ul "></i> 150</span>
                            <span class="sub-category-title-text">Compétences</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Tablet.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in" title="Nombre de sous-catégories Tablette"><i
                                  class="fa fa-list-ul "></i> 1201</span>
                            <span class="sub-category-title-text">Tablette</span>
                         </p>
                      </a>
                      <a class="sub-category" href="../../categories/en/category_Vehicle.html">
                         <p class="sub-category-title">
                            <span class="overflow-slide-in" title="Nombre de sous-catégories Véhicule"><i
                                  class="fa fa-list-ul "></i> 195</span>
                            <span class="sub-category-title-text">Véhicule</span>
                         </p>
                      </a>
                   </div>
                </div>
             </div>
          </div>
          <div class="clearer"></div>

       </div> <!-- /mainBody -->

       <div class="clearer"></div>
    </div> <!-- /main -->
 </div> <!-- /page -->
{% endblock content%}